<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qifeixianapp.qfxdemo">
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 地图包、搜索包需要的基础权限 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 申请短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- Android8.0的诸多新特性中有一个非常重要的特性：未知来源应用权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Required -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CommonAppTheme">
        <activity android:name=".Activitiy.SelectCityActivity"></activity>
        <activity android:name=".Activitiy.UpLoadHeadImageActivity" /> <!-- 注：以下authorities的值必须与上面使用的值保持一致 -->
        <provider
            android:name=".UI.MyFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:screenOrientation="portrait"
            android:value="71a99ff709dbd11338c38d194bf694ac" />


        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Activitiy.TravelSelectrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.TravelReserveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.VipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.SmsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.PdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.MainsHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.MyFansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.MailListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.MyDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.MyAwardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.VerificationActivity"
            android:label="@string/title_activity_verification"
            android:screenOrientation="portrait"
            android:theme="@style/CommonAppTheme.NoActionBar" />
        <activity
            android:name=".Activitiy.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/CommonAppTheme.NoActionBar" />
        <activity
            android:name=".Activitiy.BusinessDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitiy.MerchantListctivity"
            android:screenOrientation="portrait" />



        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".Activitiy.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>